<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.microlan.www.perfectmatrimony">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/matrimony_three"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/matrimony"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".authenticate.view.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".authenticate.view.LoginActivity"
            android:label="@string/login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".authenticate.view.SignUpActivity"
            android:label="@string/Signup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".authenticate.view.ForgotPasswordActivity"
            android:label="@string/forgotpassword"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".authenticate.view.VerifyUsersActivity"
            android:label="@string/verify"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>